.landing{
  min-height: 100vh;
}

.signin{
  min-height: 100vh;
}
.register{
  min-height: 100vh;
}

.Footer{
  text-align: center;
  padding: 15px;

}

.contacts{
  min-height: 100vh;
}

.feedbacks{
  min-height: 100vh; 
}
.package-details{
  min-height: 100vh;
}

.admindashboard{
  min-height: 100vh;
}

.admin_login{
  min-height: 100vh;
}
.create{
  min-height: 100vh;
}
.update{
  min-height: 100vh;
}
.delete{
  min-height: 100vh;
}

.c-item{
  height: 500px;
}
.c-img{
  width: 100%;
  height: 100%; /* Use the original image height */
  object-fit: cover;
  object-position: center;
  filter: brightness(0,6);
}
